#aboutPage {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
#aboutPage .width {
  text-align: center;
  color: #000;
}
#aboutPage h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
#aboutPage h1 {
  font-size: 35px;
}
#aboutPage .centre {
  width: 100%;
  text-align: center;
}
#aboutPage .centre #selfImg2 {
  max-width: 100%;
  text-align: center;
}
@media (min-width: 1100px) {
  #selfImg2 {
    float: right;
    max-height: 500px !important;
    max-width: 549px !important;
  }
}
@media (min-width: 800px) {
  #aboutPage {
    height: 500px;
    width: 100%;
    background-color: #fff;
  }
  #aboutPage .width {
    width: 50%;
    float: left;
    color: #000;
    padding-left: 80px;
  }
  #aboutPage h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
  }
  #aboutPage h1 {
    font-size: 35px;
  }
  #aboutPage #selfImg2 {
    float: right;
    max-height: 247px;
    max-width: 400px;
  }
}
