@import "mainpg.css";

@import "workPage.css";

@import "aboutpg.css";

@import "projectpg.css";

@import "contactpg.css";

@import "popup.css";

@import url('https://fonts.googleapis.com/css?family=Oswald|Quicksand|Open+Sans|Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@font-face {
  font-family: RaptorsFont;
  src: url('NBARAPTO.TTF');
}
body {
  margin: 0;
  color: #ecf0f1;
  font-family: RaptorsFont;
}
* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  /* 1 */

  line-height: 1.15;
  /* 2 */

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* 3 */

}
